/env/
/.vs/Image-Processing-openCV/FileContentIndex/369265e8-92f4-437d-884e-5415e6a996c8.vsidx
/.vs/Image-Processing-openCV/v17/.suo
/.vs/Image-Processing-openCV/v17/fileList.bin
/.vs/Image-Processing-openCV/FileContentIndex/48464741-9dcc-4fae-987f-4db48203c0e5.vsidx
/.vs/Image-Processing-openCV/FileContentIndex/8283e108-3c8a-48d6-8600-0d0dbaf48f72.vsidx
